{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="project">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="kyle amon">
  <title>{{ title }}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- main css -->
  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
  
  <!-- Additional CSS styles -->
  <style>





    /* Navbar */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Main content area */
    .content-container {
      padding-top: 30px;
    }

    /* Churp form */
    #createchurp {
      margin-bottom: 30px;
    }

    /* Churps container */
    .churps-container {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 20px;
    }

    /* Churp card */
    .churp-card {
      border-bottom: 1px solid #ddd;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    /* Avatar */
    .avatar {
      border-radius: 50%;
      margin-right: 10px;
    }

    /* Username and timestamp */
    .username {
      font-weight: bold;
    }

    .timestamp {
      color: #888;
      font-size: 12px;
    }

    /* Churp message */
    .churp-message {
      margin-top: 10px;
    }
  </style>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-inverse">
    <!-- Navbar content -->
            <div class="container-fluid">
              <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" class="styleheader" href="{% url 'index' %}">Twittle</a>
              </div>
              <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav">
                  
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'index' %}">Home</a></li>
                  <li><a href="{% url 'profile' %}"><span class="glyphicon"></span> &nbsp; Profile</a></li>
                  <ul class="nav navbar-nav navbar-right">  
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> &nbsp; Logout</a></li>
                  </ul>
                  {% else %}
                  <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> &nbsp; Sign up</a></li>
                  <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Log in</a></li>
                  {% endif %}
                  
                </ul>
              </div>
            </div>
          </nav>
  </nav>
{% block start %}
  <!-- Main content area -->
  <div class="container content-container">
    {% if user.is_authenticated %}
    <!-- User-specific content -->
    <h1>Welcome back {{user.username}}!</h1>
    <hr>


    <div class="container">

        <!-- Buddy list -->
        <div  class="cols-sm-1">
          <!-- Buddy list content -->
          <p>Buddy list</p>
          {% for bud in buddies %}
          <img src="static/img/kyle.jpeg" class="img-circle" height="65" width="65" alt="Avatar">
          <a href="/edit_profile/{{bud}}">{{bud}}</a>
          {% endfor %} 
          
        </div>
        <br>
    </div>

    <!-- Churp form -->
    <div class="container">
        <div id="createchurp" class="panel panel-default right-left">
        <div class="col-sm-9">
            <!-- Churp form content -->
            <form action="{% url 'index' %}" method="post"  class="form-group">
                {% csrf_token %}
                    <div id="createchurp" class="panel panel-default text-left">
                        <div class="panel-body left">
                            <fieldset class="form-group">
                                {{form|crispy}}
                            </fieldset>
                            
                            <p><button type="submit" class="btn btn-success">Create churp</button></p>
                        
                    </form>
    
          </div>
        </div>
    </div>

    <!-- Churps container -->
    <div class="col-sm-12">
      <div class="churps-container">
        {% for i in churps reversed %}
        <!-- Churp card -->
        <div class="churp-card">
          <div class="flex justify-between items-center px-4 py-3">
            <!-- Avatar -->
            <img src="{% static 'img/kyle.jpeg' %}" class="avatar" height="65" width="65" alt="Avatar">
            <div class="flex flex-1 items-center space-x-4">
              <!-- Username -->
              <span class="block font-semibold username">
                <a href="/profile/{{ post.user }}">@{{ i.user }}</a>
              </span>
              <!-- Timestamp -->
              <p class="timestamp">{{ i.created_at }}</p>
            </div>
          </div>
          <!-- Churp message -->
          <p class="churp-message">{{ i.text }}</p>
        </div>
        {% endfor %}
      </div>
    </div>

    {% else %}
    <!-- Non-authenticated user content -->
    <h1>log in, plz . . .</h1>

    {% endif %}
  </div>
</body>


{% endblock %}
</html>
