{% extends "user/index.html" %}
{% load crispy_forms_tags %}
{% block start %}

 <div class="content-section col-md-8 col-md-offset-2">
  <form method="POST" style="border: 1px solid rgb(0, 0, 0); margin: 4%; padding:10%; border-radius:1%;">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy}}
    </fieldset>
    <button style="background: rgba(63, 192, 91, 0.582); font-size: 2rem; padding:1%;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-log-in"></span> &nbsp; login</button>
  <br/>
  <sub style="text-align: left;"><a href="{% url 'register' %}" style="text-decoration: none; color: rgb(0, 0, 0); padding:2%; cursor:pointer; margin-right:2%;">don't have account,sign up</a></sub>
  </form>
 </div>
{% endblock start %}