

{% extends "user/index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<div id="profile" class="container m-auto">
    <div class="content-section col-md-8 col-md-offset-2">
      <div class="container">
        <h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3">Account Settings</h1>
        
        <div class="profile-info">
          <p>Username: {{ user.username }}</p>
          <p>Email: {{ user.email }}</p>
          <p>First Name: {{ profile.name}}</p>
          <p>Last Name: {{ profile.last }}</p>
          <p>Bio: {{ profile.bio }}</p>
          <p>Location: {{ profile.loc }}</p>
        </div>
        
        
        <button  style="background: rgba(63, 192, 91, 0.582); padding:2%; font-size: 2rem; color:rgb(41, 5, 5);"  class="btn btn-outline-info">  
            <a href="/edit_profile"><span class="glyphicon"></span> &nbsp; Edit Profile</a>
        </button>

        
    </div>
    <br />

      <div class="container">
        <h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3">My Churps</h1>
          <!-- Churps container -->
    <div class="col-sm-9">
        <div class="churps-container">
          {% for i in churps reversed %}
          <!-- Churp card -->
          <div class="churp-card">
            <div class="flex justify-between items-center px-4 py-3">
  
              <div class="flex flex-1 items-center space-x-4">
                <!-- Username
                <span class="block font-semibold username">
                  <a href="/edit_profile/{{ user.username }}">@{{ i.user }}</a>
                </span> -->
                <!-- Timestamp -->
                <p class="timestamp">{{ i.created_at }}</p>
              </div>
            </div>
            <!-- Churp message -->
            <p class="churp-message">{{ i.text }}</p>
          </div>
          {% endfor %}
        </div>
      </div>

        </div>  
        

<!-- 
      <div class="container">
            
                    <form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
                      {% csrf_token %}
                      <fieldset class="form-group">
                        {{ form|crispy}}
                      </fieldset>
                        <button style="background: rgba(63, 192, 91, 0.582); padding:2%; font-size: 2rem; color:rgb(41, 5, 5);" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-check"></span> &nbsp; Update Profile</button>
                      <br />
                    </form>
        </div>
      </div>

    
</div> -->
    
{% endblock start %}
    