



{% extends "user/index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<!-- <div id="profile" class="container m-auto">
    <div class="content-section col-md-8 col-md-offset-2">
      <div class="container">
        <h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3">Account Settings</h1>
        
        <div class="profile-info">
          <h2>Username: {{ user.username }}</h2>
          <p>Email: {{ user.email }}</p>
          <p>First Name: {{ user_profile.first_name }}</p>
          <p>Last Name: {{ user_profile.last_name }}</p>
          <p>Bio: {{ user_profile.bio }}</p>
          <p>Location: {{ user_profile.location }}</p>
        </div>
        
        
        <button  style="background: rgba(63, 192, 91, 0.582); padding:2%; font-size: 2rem; color:rgb(41, 5, 5);"  class="btn btn-outline-info">  
            <a href="/edit_profile/{{user}}"><span class="glyphicon"></span> &nbsp; Edit Profile</a>
        </button>

        
    </div> -->

<div class="container">
                    <form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
                      {% csrf_token %}
                      <fieldset class="form-group">
                        {{ form|crispy}}
                      </fieldset>
                        <button style="background: rgba(63, 192, 91, 0.582); padding:2%; font-size: 2rem; color:rgb(41, 5, 5);" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-check"></span> &nbsp; Update Profile</button>
                      <br />
                    </form>
        </div>
      </div>

    
</div>



{% endblock start %}